<a href="https://colab.research.google.com/github/spdkh/DataMining-Course-8118/blob/master/Parisa_Daj_COMP8118_C1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
vocab_dir = "https://raw.githubusercontent.com/spdkh/DataMining-Course-8118/master/Week%202/C1-data/vocab.txt"
vocab = pd.read_table(vocab_dir, header=None, index_col=0)

vocab

                   1
0
0          automatic
1        acquisition
2              proof
3             method
4      philosophical
...              ...
12215   supermodular
12216         hajnal
12217        bramble
12218       ancestry
12219      shellsort

[12220 rows x 1 columns]

In [3]:
def fp_grow(topic_id, vocab, support):
    topic_id -= 1
    topic_dir = 'https://raw.githubusercontent.com/spdkh/DataMining-Course-8118/master/Week%202/C1-data/topic-' + str(topic_id + 1) + '.txt'
    topic = pd.read_csv(topic_dir, header=None, sep=' ', names=range(30))
    print('\nTopic', topic_id + 1, ':\n', topic.iloc[:, :5])

    vocab['counter_' + str(topic_id + 1)] = 0

    for row in topic.index:
        ind = set(filter(lambda x: x == x, topic.iloc[row, :]))
        vocab.loc[ind, 'counter_' + str(topic_id + 1)] += 1

    freq_support = vocab.sort_values(by='counter_' + str(topic_id + 1), ascending=False)
    freq_support = freq_support[freq_support.iloc[:, topic_id + 1] >= support]
    return freq_support

In [8]:
support = 400

freq_supports = list()
for topic_id in range(1, 5):
    freq_supports.append(fp_grow(topic_id, vocab, support))

print('\nfrequent supports for all topic indices:\n')
freq_supports

Topic 1 :
           0       1       2     3    4
0         4     6.0     NaN   NaN  NaN
1        15    10.0    14.0   9.0  8.0
2        22    19.0    18.0   NaN  NaN
3        56    55.0    54.0  50.0  NaN
4        69     6.0    60.0  67.0  NaN
...     ...     ...     ...   ...  ...
9669   1023  5907.0  7832.0   NaN  NaN
9670   1247     NaN     NaN   NaN  NaN
9671    339  9057.0     NaN   NaN  NaN
9672  12219     NaN     NaN   NaN  NaN
9673    100     NaN     NaN   NaN  NaN

[9674 rows x 5 columns]

Topic 2 :
           0        1     2     3     4
0        17     11.0  12.0  16.0   NaN
1        20     21.0   NaN   NaN   NaN
2        33      NaN   NaN   NaN   NaN
3        35     39.0  36.0  37.0   NaN
4        65     61.0  28.0  63.0  60.0
...     ...      ...   ...   ...   ...
9954   5430      NaN   NaN   NaN   NaN
9955  11339  12207.0   NaN   NaN   NaN
9956  12211   3555.0   NaN   NaN   NaN
9957  11744      NaN   NaN   NaN   NaN
9958   3849   6589.0   NaN   NaN   NaN

[9959 rows x 5 columns]

Topic 3 :
            0       1     2     3     4
0          0     3.0   1.0   2.0   NaN
1          7     5.0   NaN   NaN   NaN
2         25    26.0  28.0  23.0  27.0
3         30    29.0  34.0  31.0  32.0
4         38     NaN   NaN   NaN   NaN
...      ...     ...   ...   ...   ...
10156  12015     NaN   NaN   NaN   NaN
10157    359     NaN   NaN   NaN   NaN
10158   1437  1123.0   NaN   NaN   NaN
10159     31     NaN   NaN   NaN   NaN
10160   9686     NaN   NaN   NaN   NaN

[10161 rows x 5 columns]

Topic 4 :
          0        1       2      3      4
0       90     93.0    92.0    NaN    NaN
1      103    105.0     NaN    NaN    NaN
2      172      NaN     NaN    NaN    NaN
3      180     66.0   176.0  177.0  178.0
4      194    158.0     NaN    NaN    NaN
...    ...      ...     ...    ...    ...
9840  1943  11734.0     NaN    NaN    NaN
9841   617  11992.0  1232.0  298.0    NaN
9842   203      NaN     NaN    NaN    NaN
9843    90      NaN     NaN    NaN    NaN
9844   389      NaN     NaN    NaN    NaN

[9845 rows x 5 columns]

[                  1  counter_1
 0
 6          learning       1488
 60            using       1050
 67            model        819
 25            based        715
 18   classification        582
 323         feature        488
 181      clustering        474
 374         network        463,                1  counter_1  counter_2
 0
 84           web          0       1226
 190  information          0       1211
 397    retrieval          0       1114
 25         based        715        863
 105       system          0        757
 387       search          4        707
 481     document        108        564
 28      language          0        490
 67         model        819        421
 36      semantic          0        414,               1  counter_1  counter_2  counter_3
 0
 38     database          0        111       1074
 105      system          0        757        928
 26    knowledge         45        115        743
 6      learning       1488          0        558
 390        data        208        228        514
 31        logic          0          0        506
 137   reasoning          0          0        493
 67        model        819        421        446
 152  constraint          0          0        426,                1  counter_1  counter_2  counter_3  counter_4
 0
 317        query          0        260          0       1713
 38      database          0        111       1074       1163
 390         data        208        228        514       1040
 105       system          0        757        928        767
 448   processing          0          0          0        637
 441  distributed          0         30         65        567
 66        object        151          0        223        528
 473    efficient         57          0          0        508
 389          xml          0        104          0        458]